/* img{
    max-width: 20%;
    max-height: 20%;
}

h1{
 color:red
}

p strong{
    background-color: aqua;
} */



* {
    box-sizing: border-box;
}

.container1 {
    width: 80%;
    background-color: salmon;
    padding: 10px;
    margin: 5px; 
} 

.container2 {
width: 10vw;
background-color: green;
padding: 10px;
margin: 5px; 
} 


