<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESPONS</title>
    <link rel="stylesheet" href="/css/stylus.css">
</head>
<body>
    <!-- <h1> MI PAGINA WEB </h1>
    <h2> Soy un Programador</h2>
    
    <img src="/img/promador.png" alt="programador">
   
    <p>Lorem, ipsum  <strong> dolor sit amet consectetur adipisicing elit.</strong> 
        Nesciunt voluptatum quas officiis blanditiis, provident maiores Nesciunt 
        voluptatum quas officiis blanditiis, provident maiore saepe magnam modi, 
        nemo harum nihil, eum facere.  Nihil similique fuga cumque porro sunt eaque. 
        Lorem, ipsum   dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum quas 
        officiis blanditiis, provident maiores saepe magnam modi, <strong>nemo harum nihil, 
        eum facere. </strong> Nihil similique fuga cumque porro sunt eaque.Lorem, ipsum  
        dolor sit amet consectetur adipisicing elit.</strong> Nesciunt voluptatum quas 
        officiis blanditiis, provident maiores luptatum quas officiis blanditiis,
        provident maiore saepe magnam modi, nemo harum nihil, eum facere.  Nihil similique
        fuga cumque porro sunt eaque. Lorem, ipsum   dolor sit amet consectetur 
        adipisicing elit. Nesciunt voluptatum quas officiis blanditiis, provident 
        maiores saepe magnam modi, <strong>nemo harum nihil, eum facere. </strong> Nihil 
        similique fuga cumque porro sunt eaque.</p> -->

<div>
<h1> TITULO </h1>

<p>Lorem, ipsum  <strong> dolor sit amet consectetur adipisicing elit.</strong> 
    Nesciunt voluptatum quas officiis blanditiis, provident maiores Nesciunt 
    voluptatum quas officiis blanditiis, provident maiore saepe magnam modi, 
    nemo harum nihil, eum facere.  Nihil similique fuga cumque porro sunt eaque. 
    Lorem, ipsum   dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum quas 
    officiis blanditiis, provident maiores saepe magnam modi, <strong>nemo harum nihil, 
    eum facere. </strong> Nihil similique fuga cumque porro sunt eaque.Lorem, ipsum  
    dolor sit amet consectetur adipisicing elit.</strong> Nesciunt voluptatum quas 
    officiis blanditiis, provident maiores luptatum quas officiis blanditiis,
    provident maiore saepe magnam modi, nemo harum nihil, eum facere.  Nihil similique
    fuga cumque porro sunt eaque. Lorem, ipsum   dolor sit amet consectetur 
    adipisicing elit. Nesciunt voluptatum quas officiis blanditiis, provident 
    maiores saepe magnam modi, <strong>nemo harum nihil, eum facere. </strong> Nihil 
    similique fuga cumque porro sunt eaque.</p> 
</div>

</body>
</html>